/*	fonts ---------------------------------- */
/* overpass-300normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 300;
	src:
		local('Overpass Light '),
		local('Overpass-Light'),
		url('/fonts/overpass/overpass-latin-300.woff2') format('woff2');
}

/* overpass-600normal - latin */
@font-face {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 600;
	src:
		local('Overpass Bold '),
		local('Overpass-Bold'),
		url('/fonts/overpass/overpass-latin-600.woff2') format('woff2');
}

/* fira-mono-400normal - latin */
@font-face {
	font-family: 'Fira Mono';
	font-style: normal;
	font-weight: 400;
	src:
		local('Fira Mono Regular '),
		local('Fira Mono-Regular'),
		url('/fonts/fira-mono/fira-mono-latin-400.woff2') format('woff2');
}

body {
	--font: 'Overpass', sans-serif;
	--font-mono: 'Fira Mono', monospace;

	--text: #bbb;
	--highlight: #ddd;
	--gray: #333;
	--light-gray: #444;

	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	color: var(--text);
	background: #111;


	/* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
	color: var(--highlight);
}

h1 {
	font-size: 2em;
}

h1, h2 {
	font-family: var(--font);
	line-height: 1.25;
}

h2 {
	margin-top: 2em;
}

a {
	color: inherit;
}

strong {
	color: var(--highlight);
}

pre {
	background: #181818;
	tab-size: 2;
	padding: 0.5em;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: var(--text);
	background-color: 181818;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

pre code {
	padding: 0;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}