.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #5c6773;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.token.function-name {
	color: #f08d49;
}

.token.class-name,
.token.symbol {
	color: #f8c555;
}

.token.important,
.token.atrule,
.token.keyword {
	color: #cc99cd;
}

.token.char,
.token.attr-value {
	color: #7ec699;
}

.token.operator,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.inserted {
	color: green;
}

/* ayu */
.token.title,
.token.string {
	color: #bae67e;
}

.token.regex {
	color: #95e6cb;
}
.token.constant,
.token.number {
	color: #ffcc66;
}

.token.function,
.token.selector,
.token.attr-name {
	color: #ffd580;
}
.token.entity {
	color: #d4bfff;
	cursor: help;
}

[class*="language-"] {
	color: #cbccc6;
}

.token.variable,
.token.punctuation {
	color: #cbccc6;
}
.token.property {
	color: #f28779;
}

.token.builtin,
.token.class-name {
	color: #5ccfe6;
}

.token.keyword {
	color: #ffa759;
}

.token.operator {
	color: #f29e74;
}

/* .token.function-name {
	color: #ffd580;
} */

.token.parameter {
	color: #d4bfff;
}

.token.tag,
.token.property {
	color: #5ccfe6;
}

.token.punctuation {
	color: #5ccfe680;
}

.token.namespace {
	opacity: 0.8;
}

.diff-add {
	color: #3D9970;
}

.diff-add::before {
	content: '+';
}

.diff-remove {
	color: #FF4136;
}

.diff-remove::after {
	content: '\000A';
}